In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
columns = [
    "mpg",
    "cylinders",
    "displacement",
    "horsepower",
    "weight",
    "acceleration",
    "model year",
    "origin",
    "car name",
]
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data-original",sep=r"\s+",header=None,names=columns)
car_names = df["car name"]
df.drop(columns=["car name"],inplace=True)
df.dropna(inplace=True)
dct = {1: "USA", 2: "Europe", 3: "Japan"}
df["origin"] = df["origin"].map(dct)
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,1.0
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,1.0
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,1.0
3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,1.0
4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,1.0